<div class="page-content">
  <div class="form-v10-content">
    <form class="form-detail" id="myform">
      <div class="form-left">
        <h2>General Infomation</h2>
        <div class="form-group">
          <div class="form-row form-row-1">
            <input type="text" [(ngModel)]="user.prenom" class="form-control" name="prenom" id="prenom" placeholder="First Name" minlength="3" [class.is-invalid]="prenom.invalid && prenom.touched"
            #prenom="ngModel" required>
            <div *ngIf="prenom.errors && (prenom.invalid || prenom.touched)">
              <small class="text-danger" *ngIf="prenom.errors.required" [class.d-none]=" prenom.untouched" style="font-size: 11px;"> First name is required</small>
              <small class="text-danger" *ngIf="prenom.errors.minlength" [class.d-none]=" prenom.untouched" style="font-size: 11px;"> First name must be at least 3 characters</small>
          </div>
        </div>
          <div class="form-row form-row-2">
            <input type="text" [(ngModel)]="user.nom" class="form-control" name="nom" id="nom" placeholder="Last Name"  minlength="3" [class.is-invalid]="nom.invalid && nom.touched"
            #nom="ngModel" required>
            <div *ngIf="nom.errors && (nom.invalid || nom.touched)">
             <small class="text-danger" *ngIf="nom.errors.required" [class.d-none]=" nom.untouched" style="font-size: 11px;"> Last name is required</small>
             <small class="text-danger" *ngIf="nom.errors.minlength" [class.d-none]=" nom.untouched" style="font-size: 11px;"> Last name must be at least 3 characters</small>
             
           </div>
          </div>
        
          </div>
          
          
          <div class="form-row">
            
              <input type="date" [(ngModel)]="user.dateOfBirth" class="form-control" name="dateOfBirth" id="dateOfBirth" placeholder=""
              required
          #dateOfBirth="ngModel"
          [class.is-invalid]="dateOfBirth.invalid && dateOfBirth.touched">
          <small class="text-danger" [class.d-none]="dateOfBirth.valid || dateOfBirth.untouched" style="font-size: 11px;">Date of birth is required</small>
            
          </div>
          <div class="form-row">
						<input type="text" [(ngModel)]="user.email" class="form-control" name="email" id="email" placeholder="Email" required email
            #email="ngModel"
            [class.is-invalid]="email.invalid && email.touched">
            <div *ngIf="email.errors && (email.invalid || email.touched)">
              <small class="text-danger" *ngIf="email.errors.required" [class.d-none]=" email.untouched" style="font-size: 11px;"> Email is required</small>
              <small class="text-danger" *ngIf="email.errors.email" [class.d-none]=" email.untouched" style="font-size: 11px;"> Email must be a valid email address</small>
            </div>
					</div>
          
            
          <div class="form-row">
              <input type="text" [(ngModel)]="user.phone" class="form-control" name="phone" id="phone" placeholder="Phone"
              required
          minlength="8"
          #phone="ngModel"
          [class.is-invalid]="phone.invalid && phone.touched">
          <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
            <small class="text-danger" *ngIf="phone.errors.required" [class.d-none]=" phone.untouched" style="font-size: 11px;"> Phone number is required</small>
            <small class="text-danger" *ngIf="phone.errors.minlength" [class.d-none]=" phone.untouched" style="font-size: 11px;"> Phone number must be composed of 8 numbers</small>
          
            </div>
          </div>

          <div class="form-row">
                   <input type="file" id="customFile" class="form-control" (change)="selectFileCV($event)" style="height:100%">
          </div> 

         <!--<div class="form-group">
              <label for="file">File upload</label>
              <input type="file" class="form-control" accept="image/*" (change)="onSelectFile($event)" style="height:100%">
          </div>-->

         <div class="form-row">
                <div style="margin-top:3px">
                    <input type="file" class="form-control" id="customFile" (change)="selectFileLettre($event)" style="height:100%" >
                     
                   
            </div>
          </div>
        </div>
        <div class="form-right">
					<h2>Experience Details</h2>
					<div class="form-row">
						<input type="text" [(ngModel)]="user.niveauEtud" class="form-control" name="niveauEtud" id="niveauEtud" placeholder="Level"
            required  #niveauEtud="ngModel" [class.is-invalid]="niveauEtud.invalid && niveauEtud.touched">
            <small class="text-danger" [class.d-none]="niveauEtud.valid || niveauEtud.untouched" style="font-size: 11px;">Level is required</small>
					</div>
          <div class="form-row">
						<input type="text" [(ngModel)]="user.titreDiplome" class="form-control" name="titreDiplome" id="titreDiplome" placeholder="Diploma title"
            required  #titreDiplome="ngModel" [class.is-invalid]="titreDiplome.invalid && titreDiplome.touched">
            <small class="text-danger" [class.d-none]="titreDiplome.valid || titreDiplome.untouched" style="font-size: 11px;">Diploma title is required</small>
					</div>
          <div class="form-row">
						<input type="text" [(ngModel)]="user.university" class="form-control" name="university" id="university" placeholder="Engineering school"
            required  #university="ngModel" [class.is-invalid]="university.invalid && university.touched">
            <small class="text-danger" [class.d-none]="university.valid || university.untouched" style="font-size: 11px;">Engineering school is required</small>
					</div>
          <div class="form-row">
						<input type="text" name="niveauExp" id="niveauExp" class="form-control" placeholder="Years experience" [(ngModel)]="user.niveauExp" class="form-control" name="niveauExp" id="niveauExp" placeholder="Years of experience"
            required  #niveauExp="ngModel" [class.is-invalid]="niveauExp.invalid && niveauExp.touched">
            <small class="text-danger" [class.d-none]="niveauExp.valid || niveauExp.untouched" style="font-size: 11px;">Years of experience is required</small>
					</div>
          <div class="form-row">
						<input type="text" name="experience" class="form-control" [(ngModel)]="user.experience" id="experience" placeholder="Your experiences" required data-msg="Please write something for us">
					</div>
          <div class="form-row-last">
            <input type="submit" class="register" name="register" value="Save" (click)="createCandidate()">
          </div>
				</div>
       
        </form>
        
      </div>
      
    </div>
 
 