
<!-- Sign up form -->
<div class="main">
  <section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign Up</h2>
                <form  class="register-form" id="register-form"  *ngIf="!isSuccessful"
                name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate>
                    <div class="form-group">
                        <label for="fname"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" class="form-control" name="username" id="name" placeholder="Username" [(ngModel)]="form.username"
                        required
                        minlength="3"
                        maxlength="20"
                        #username="ngModel" autofocus=""
                        [class.is-invalid]="username.invalid && username.touched"
                      />
              
                      <div *ngIf="username.errors && (username.invalid || username.touched)">
                        <small class="text-danger" *ngIf="username.errors.required" [class.d-none]=" username.untouched" style="font-size: 11px;"> Username is required</small>
                        <small class="text-danger" *ngIf="username.errors.minlength" [class.d-none]=" username.untouched" style="font-size: 11px;"> Username must be at least 3 characters</small>
                        <small class="text-danger" *ngIf="username.errors.maxlength" [class.d-none]=" username.untouched" style="font-size: 11px;"> Username must be at most 20 characters</small>
                      </div>
              
                    </div>
                    <div class="form-group">
                        <label for="fname"><i class="zmdi zmdi-email"></i></label>
                        <input type="email" class="form-control" name="email" id="email"  [(ngModel)]="form.email"
                        placeholder="Email"
                        required
                        email
                        #email="ngModel"
                        
                        [class.is-invalid]="email.invalid && email.touched"
                      />
                      
                      <div *ngIf="email.errors && (email.invalid || email.touched)">
                        <small class="text-danger" *ngIf="email.errors.required" [class.d-none]=" email.untouched" style="font-size: 11px;"> Email is required</small>
                        <small class="text-danger" *ngIf="email.errors.email" [class.d-none]=" email.untouched" style="font-size: 11px;"> Email must be a valid email address</small>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="fname"><i class="zmdi zmdi-account material-icons-name"></i></label>
                      <input type="tel"  class="form-control" name="phone" id="phone" placeholder="Phone" [(ngModel)]="form.phone"
                      required
                      minlength="8"
                      #phone="ngModel"
                      
                      
                      [class.is-invalid]="phone.invalid && phone.touched"
                      
                    />
                    <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
                      <small class="text-danger" *ngIf="phone.errors.required" [class.d-none]=" phone.untouched" style="font-size: 11px;"> Phone number is required</small>
                      <small class="text-danger" *ngIf="phone.errors.minlength" [class.d-none]=" phone.untouched" style="font-size: 11px;"> Phone number must be composed of 8 numbers</small>
                      
                    </div>
                  </div>
                    <div class="form-group">
                        <label for="fname"><i class="zmdi zmdi-lock"></i></label>
                        <input type="Date" class="form-control" name="dateOfBirth"
            [(ngModel)]="form.dateOfBirth"
            placeholder="Date of Birth"
            required
            minlength="6"
            #dateOfBirth="ngModel"
            [class.is-invalid]="dateOfBirth.invalid && dateOfBirth.touched" />
          <small class="text-danger" [class.d-none]="dateOfBirth.valid || dateOfBirth.untouched" style="font-size: 11px;">Date of birth is required</small>
        </div>
                    <div class="form-group">
                      <label for="fname"><i class="zmdi zmdi-lock"></i></label>
                      <input type="password"  class="form-control" name="password"
                      [(ngModel)]="form.password"
                      required
                      minlength="6"
                      #password="ngModel" id="pass" placeholder="Password"  [class.is-invalid]="password.invalid && password.touched"
                      />
              
              
                      <div *ngIf="password.errors && (password.invalid || password.touched)">
                        <small class="text-danger" *ngIf="password.errors.required" [class.d-none]=" password.untouched" style="font-size: 11px;"> Password is required</small>
                        <small class="text-danger" *ngIf="password.errors.minlength" [class.d-none]=" password.untouched" style="font-size: 11px;"> Password must be at least 6 characters</small>
                      </div>
              
                  </div>
                    <div class="form-group">
                        <label for="fname"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input type="password" id="re_pass" placeholder="Repeat your password" class="form-control"
                        name="repassword"
                        [(ngModel)]="form.repassword"
                        required
                        minlength="6"
                        #repassword="ngModel" [class.is-invalid]="repassword.invalid && repassword.touched"
            
                        />
                
                        <div *ngIf="repassword.errors && (repassword.invalid || repassword.touched)">
                          <small class="text-danger" *ngIf="repassword.errors.required" [class.d-none]=" repassword.untouched" style="font-size: 11px;"> Password is required</small>
                          <small class="text-danger" *ngIf="repassword.errors.minlength" [class.d-none]=" repassword.untouched" style="font-size: 11px;"> Password must be at least 6 characters</small>
                        </div>
                        <div *ngIf="repassword.valid && repassword.value != password.value" class="text-danger">
                          The passwords entered do not match
                      </div>
                    </div>
                   
                    <div class="form-group form-button">
                      <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                  </div>
                  <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                    Signup failed!<br />{{ errorMessage }}
                  </div>
                  <!-- ma mchetch -->
                  <div class="success" *ngIf="isSuccessful">
                    you have successfully registered
                </div>
                  
                  </form>
                 
                 
            </div>
         
            <div class="signup-image">
                <figure><img src="../../../assets/images/register.png" alt="sing up image"></figure>
                <a href="http://localhost:4200/login" class="signup-image-link">I am already member</a>
            </div>
            
        </div>
    </div>
  </section>
  </div>