
<div class="container pt-10" style="margin-top: 20%;margin-left:10%">
    <div class="row">
      <div
        class="col-sm d-flex justify-content-center align-items-start landingText mr-10"
      >
        <div class="col ml-3">
          <div>
            <p class="text-justify">
              <span style="font-size: 28pt;"
                >Your application has been successfully registered
                </span
              ><br />
              <span style="font-size: 17pt;">
                A return message will be sent to you through the email address provided</span
              >
            </p>
          </div>
  
        </div>
      </div>
      
    </div>
  </div>