  
  <!-- <section id="hero" class="min-vh-100 d-flex align-items-center text-center" >
        
    <div class="container">
        <div class="bgimg">
            <div class="row">
                <div class="col-12" style="margin-top: 25%;">
                    <h1 data-aos="fade-left" class="text-uppercase text-white fw-semibold display-1" >Welcome to Bossfortech</h1>
                    <h5 class="text-white mt-3 mb-4" data-aos="fade-right">Bossfortech est un cabinet de conseil et d'ingénierie qui conseille et accompagne le développement </h5>
                    <h5 class="text-white mt-3 mb-4" data-aos="fade-right">et la transformation numérique des principaux acteurs du secteur des Réseaux et Sécurité informatique.</h5>
                    <div data-aos="fade-up" data-aos-delay="50">
                        <a routerLink="/candidat" class="btn btn-brand me-2">Rejoindre Nous</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    End Hero -->


 
<section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Welcome to ResumeMatcher</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">An intelligent human resources management platform that provides advanced features to streamline CV filtering, skill matching, and optimize the candidate selection process.</h2>
          <h2 data-aos="fade-up" data-aos-delay="400">If you are looking for a job, you can apply to our company by accessing this link..</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center" routerLink="/candidat">
                <span>Apply Now</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section>










