<div class="main">

  <!-- Sing in  Form -->
  <section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="../../../assets/images/login.png" alt="sing up image"></figure>
                <a href="http://localhost:4200/register" class="signup-image-link">Create an account</a>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Sign In</h2>
                <form  class="register-form" id="login-form"   name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate>
                    <div class="form-group">
                        <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="username" id="username" [(ngModel)]="form.username" placeholder="Username" required
                        minlength="3"
                        maxlength="20"
                        #username="ngModel"
                        autofocus=""
                        [class.is-invalid]="username.invalid && username.touched"/>
                        <div
                        *ngIf="username.errors && (username.invalid || username.touched)"
                      >
                        <small
                          class="text-danger"
                          *ngIf="username.errors.required"
                          [class.d-none]="username.untouched"
                          style="font-size: 11px"
                          >Username is required</small
                        >
                        <small
                          class="text-danger"
                          *ngIf="username.errors.minlength"
                          [class.d-none]="username.untouched"
                          style="font-size: 11px"
                          >Username must be at least 3 characters</small
                        >
                        <small
                          class="text-danger"
                          *ngIf="username.errors.maxlength"
                          [class.d-none]="username.untouched"
                          style="font-size: 11px"
                          >Username must be at most 20 characters</small>
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="password"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="password" id="password"  [(ngModel)]="form.password"
                        placeholder="Password"
                        required
                        minlength="6"
                        #password="ngModel"
                        [class.is-invalid]="password.invalid && password.touched"/>
                        <div
                *ngIf="password.errors && (password.invalid || password.touched)"
              >
                <small
                  class="text-danger"
                  *ngIf="password.errors.required"
                  [class.d-none]="password.untouched"
                  style="font-size: 11px"
                  >Password is required</small
                >
                <small
                  class="text-danger"
                  *ngIf="password.errors.minlength"
                  [class.d-none]="password.untouched"
                  style="font-size: 11px"
                  >Password must be at least 6 characters</small
                >
              </div>
                    </div>
                  
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Log In"/>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</section>

</div>