@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');
*{
 margin:0;
 padding: 0;
 outline: 0;
}
.showback {
    background-color: #023b6d;
    box-shadow: 0 2px 10px rgba(64,64,64,.7);
    border-radius: 7px 7px 7px 7px;
    margin-bottom: 2px;
    font-weight: unset!important;
}

table{
 position: absolute;
 z-index: 2;
 left: 58%;
 top: 45%;
 transform: translate(-50%,-50%);
 width: 75%; 
 border-collapse: collapse;
 border-spacing: 0;
 box-shadow: 0 2px 10px rgba(64,64,64,.7);
 border-radius: 12px 12px 0 0;
 overflow: hidden;

}
td , th{
 padding: 15px 20px;
 text-align: center;
 font-size: 16.5px;
 

}
th{
    background-color: #023b6d;
    color: #fafafa;
    font-family: ' Poppins-Regular';
    line-height: 1.2;
    font-weight: unset!important;
    padding-top: 19px;
   padding-bottom: 19px;
    font-size: 18px;
    /*text-transform: uppercase;*/
    
   
   }
tr{
 width: 100%;
 background-color: #fafafa;
 font-family: 'Montserrat', sans-serif;
}
tr:nth-child(even){
 background-color: #eeeeee;
}

button{
    width: 26px;
    height: 26px;
    margin : 2px;
    font-size: 13px;
    
}
.btn-success {
    
    color: #28a745 !important;
    background-color: transparent !important;
    border-color:transparent !important;
}
.btn-danger {
    color: #dc3545 !important;
    background-color: transparent !important;
    border-color:transparent !important;
}
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 2;
    color: inherit;
    font-size: 24px;
}
.container{
    text-align: center;
}

.cv{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    font-size: 13px;
    background-color: #fff;
}

.pagination{
    
    margin-left: 70%;
    margin-top: 35%;
    background-color: white;
}